{# templates/form/celebriteaseEditForm.html.twig #}
{{ form_start(form, {'attr': {'class': 'space-y-6 bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6'}, 'action': path('app_celebritease_edit', {'id': celebritease.id})}) }}

{{ form_row(form._token) }}

<div class="grid grid-cols-3 gap-6">
    <div class="col-span-3 sm:col-span-2">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
        {{ form_errors(form.name, {'attr': {'class': 'text-red-500 text-sm mt-2'}}) }}
    </div>

    <div class="col-span-3 sm:col-span-2">
        {{ form_label(form.lastname, 'Last Name', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.lastname, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
        {{ form_errors(form.lastname, {'attr': {'class': 'text-red-500 text-sm mt-2'}}) }}
    </div>

    <div class="col-span-3">
        {{ form_label(form.alias, 'Alias', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.alias, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
        {{ form_errors(form.alias, {'attr': {'class': 'text-red-500 text-sm mt-2'}}) }}
    </div>

    <div class="col-span-3">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
        {{ form_errors(form.description, {'attr': {'class': 'text-red-500 text-sm mt-2'}}) }}
    </div>

    <div class="col-span-3">
        {{ form_label(form.imageUrl, 'Image URL', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.imageUrl, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
        {{ form_errors(form.imageUrl, {'attr': {'class': 'text-red-500 text-sm mt-2'}}) }}
    </div>
</div>

<div class="flex justify-end">
    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Sauvegarder
    </button>
</div>

{{ form_end(form) }}
