{% extends 'base.html.twig' %}

{% block title %}Célébrités{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 pt-6">
        <button id="openNewModal" class="bg-green-500 text-white px-4 py-2 rounded-md mb-4 flex items-center items-left">
            <i class="fas fa-plus mr-2"></i> Ajouter une célébrité
        </button>
        <div class="flex flex-wrap justify-center -m-4">
            {% for celebritease in celebriteases %}
                {% include 'components/card.html.twig' with {
                    id: celebritease.id,
                    name: celebritease.name,
                    lastname: celebritease.lastname,
                    alias: celebritease.alias,
                    description: celebritease.description,
                    imageUrl: celebritease.imageUrl
                } %}
            {% endfor %}
        </div>
    </div>


    <div id="newModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center hidden">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full p-4">
            <div id="newModalContent">
            </div>
            <button id="closeNewModal" class="close-modal bg-red-700 text-white px-4 py-2 mt-4 rounded-md"><i class="fa-solid fa-x"></i></button>
        </div>
    </div>

    <div id="editModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center hidden">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full p-4">
            <div id="modalContent">
            </div>
            <button class="close-modal bg-red-700 text-white px-4 py-2 mt-4 rounded-md"><i class="fa-solid fa-x"></i></button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const editButtons = document.querySelectorAll('.edit-button');
            const deleteButtons = document.querySelectorAll('.delete-button');
            const openNewModalButton = document.getElementById('openNewModal');
            const newModal = document.getElementById('newModal');
            const newModalContent = document.getElementById('newModalContent');
            const closeModalButtons = document.querySelectorAll('.close-modal');
            const editModal = document.getElementById('editModal');
            const modalContent = document.getElementById('modalContent');

            editButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const celebId = this.getAttribute('data-id');
                    fetch(`/app/celebritease/edit/${celebId}`)
                        .then(response => response.text())
                        .then(html => {
                            modalContent.innerHTML = html;
                            editModal.classList.remove('hidden');
                        });
                });
            });

            deleteButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const celebId = this.getAttribute('data-id');
                    fetch(`/app/celebritease/delete/${celebId}`)
                        .then(response => response.text())
                        .then(html => {
                            modalContent.innerHTML = html;
                            editModal.classList.remove('hidden');
                        });
                });
            });

            openNewModalButton.addEventListener('click', () => {
                fetch('/app/celebritease/new-form')
                    .then(response => response.text())
                    .then(html => {
                        newModalContent.innerHTML = html;
                        newModal.classList.remove('hidden');
                    });
            });

            closeModalButtons.forEach(button => {
                button.addEventListener('click', function() {
                    newModal.classList.add('hidden');
                    modalContent.innerHTML = '';
                    editModal.classList.add('hidden');
                });
            });

            window.addEventListener('click', function(event) {
                if (event.target === newModal || event.target === editModal) {
                    newModal.classList.add('hidden');
                    editModal.classList.add('hidden');
                    modalContent.innerHTML = '';
                }
            });
        });
    </script>
{% endblock %}
