{# templates/components/popup.html.twig #}
<div x-data="{ open: false }" @keydown.escape.window="open = false">
    <!-- Trigger pour ouvrir le popup -->
    <div @click="open = true">
        {{ trigger_content|raw }}
    </div>

    <!-- Le popup -->
    <div x-show="open" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" style="display: none;">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!-- Fond sombre -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" @click="open = false"></div>

            <!-- Contenu du popup -->
            <div class="inline-block bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white p-4">
                    <div class="flex items-center justify-between">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                            {{ title }}
                        </h3>
                        <div @click="open = false" class="cursor-pointer">
                            &times;
                        </div>
                    </div>
                    <div class="mt-2">
                        {{ content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
