{# templates/homepage/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}


    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center">Bienvenue sur le site de Parodie de Célébrités</h1>
                <p class="mb-8 leading-relaxed">Découvrez les meilleures parodies de vos célébrités préférées, créez et partagez les vôtres!</p>
            </div>
        </div>
    </section>


{% endblock %}
