<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-iQIi/qgjqhU2a8sx/awsOJOH8H8gZ9eH/rPXikynS9415ZBSnR1RvRWc3neU6o/u" crossorigin="anonymous">
</head>

<body class="flex flex-col min-h-screen">

    <header class="w-full">
        {% include 'components/header.html.twig' %}
    </header>

    <main class="w-full flex-grow">
        {% block content %}{% endblock %}
    </main>

    <footer class="w-full">
        {% include 'components/footer.html.twig' %}
    </footer>
</body>
</html>
