{# templates/components/card.html.twig #}
<div class="max-w-sm w-full m-4 bg-white rounded-lg shadow-lg overflow-hidden transform transition-all hover:-translate-y-2 duration-300">
    <div class="bg-cover bg-center h-96" style="background-image: url('{{ asset('images/Celebritease/' ~ imageUrl) }}');" title="{{ name }} {{ lastname }}">
        <!-- L'image en haut -->
    </div>

    <div class="p-4">
        <h3 class="font-bold text-xl mb-2">{{ name }} {{ lastname }} <span class="text-gray-500 text-base">({{ alias }})</span></h3>
        <p class="text-gray-700 text-base mb-4">{{ description }}</p>
        <button data-id="{{ id }}" class="edit-button bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out">
            <i class="fa-solid fa-pen"></i>
        </button>
        <button data-id="{{ id }}" class="delete-button bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
