{# templates/components/footer.html.twig #}
<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 Parodie Célébrités —
            <a href="https://twitter.com/yourhandle" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@yourhandle</a>
        </p>
    </div>
</footer>
