{# templates/components/header.html.twig #}
<header class="bg-gray-800 text-white body-font shadow w-full">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
            <a href="/" class="mr-5 hover:text-gray-900">Accueil</a>
            <a href="{{ path('app_celebritease_index') }}" class="mr-5 hover:text-gray-900">Blog</a>
            <a href="/blog" class="mr-5 hover:text-gray-900">TOP 5 des votes</a>
            <a href="/about" class="mr-5 hover:text-gray-900">A propos</a>
            <a href="/contact" class="mr-5 hover:text-gray-900">Contact</a>
        </nav>
    </div>
</header>
